---
http_interactions:
- request:
    method: get
    uri: http://api.espn.com/v1/sports/news/headlines?apikey=vwv6ka3d96abs7xru5xqzs35
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-mashery-responder:
      - mashery-web5.atl.mashery.com
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"timestamp" :"2012-03-29T06:48:37Z","resultsOffset" :0,"status"
        :"success","resultsLimit" :10,"resultsCount" :406,"headlines" :[{"headline"
        :"Blake Griffin''s dunks, Chris Paul''s efficient play lead Clippers over
        Phoenix","keywords" :[],"audio" :[],"lastModified" :"2012-03-29T06:37:19Z","premium"
        :false,"gameId" :"320328012","mobileStory" :"","links" :{"api" :{"news" :{"href"
        :"http://api.espn.com/v1/sports/news/7750076"}},"web" :{"href" :"http://sports.espn.go.com/nba/recap?gameId=320328012&ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://m.espn.go.com/nba/story?storyId=7750076&ex_cid=espnapi_public"}},"type"
        :"Recap","related" :[],"id" :7750076,"story" :"","linkText" :"Griffin powers
        Clippers to strong win vs. Suns","source" :"Associated Press","description"
        :"Blake Griffin threw down three dunks in a 1:40 span late in the fourth quarter,
        and had 27 points and 14 rebounds in the Los Angeles Clippers'' 103-86 victory
        over the Phoenix Suns on Wednesday night.","images" :[],"categories" :[{"description"
        :"Los Angeles Clippers","type" :"team","sportId" :46,"teamId" :12,"team" :{"id"
        :12,"description" :"Los Angeles Clippers","links" :{"api" :{"teams" :{"href"
        :"http://api.espn.com/v1/sports/basketball/nba/teams/12"}},"web" :{"teams"
        :{"href" :"http://espn.go.com/nba/team/_/name/lac/los-angeles-clippers?ex_cid=espnapi_public"}},"mobile"
        :{"teams" :{"href" :"http://m.espn.go.com/nba/clubhouse?teamId=12&ex_cid=espnapi_public"}}}}},{"description"
        :"Phoenix Suns","type" :"team","sportId" :46,"teamId" :21,"team" :{"id" :21,"description"
        :"Phoenix Suns","links" :{"api" :{"teams" :{"href" :"http://api.espn.com/v1/sports/basketball/nba/teams/21"}},"web"
        :{"teams" :{"href" :"http://espn.go.com/nba/team/_/name/phx/phoenix-suns?ex_cid=espnapi_public"}},"mobile"
        :{"teams" :{"href" :"http://m.espn.go.com/nba/clubhouse?teamId=21&ex_cid=espnapi_public"}}}}}],"published"
        :"2012-03-29T05:25:26Z"},{"headline" :"Source: Two UGA starters suspended","keywords"
        :["Bacarri Rambo","Alec Ogletree","suspensions"],"audio" :[],"lastModified"
        :"2012-03-29T06:45:13Z","premium" :false,"mobileStory" :"","links" :{"api"
        :{"news" :{"href" :"http://api.espn.com/v1/sports/news/7750010"}},"web" :{"href"
        :"http://espn.go.com/college-football/story/_/id/7750010/source-georgia-bulldogs-bacarri-rambo-alec-ogletree-draw-suspensions?ex_cid=espnapi_public"},"mobile"
        :{"href" :"http://m.espn.go.com/ncf/story?storyId=7750010&ex_cid=espnapi_public"}},"type"
        :"HeadlineNews","related" :[],"id" :7750010,"story" :"","title" :"Source --
        Georgia Bulldogs'' Bacarri Rambo, Alec Ogletree draw suspensions","byline"
        :"David Ching and Radi Nabulsi ","linkText" :"Source: UGA starters Rambo,
        Ogletree banned","source" :"DawgNation","description" :"Bulldogs safety Bacarri
        Rambo and linebacker Alec Ogletree will be suspended to start the 2012 season,
        a source at the University of Georgia confirmed to DawgNation on Wednesday.","images"
        :[],"categories" :[{"description" :"NCF","type" :"league","sportId" :23,"leagueId"
        :23,"league" :{"id" :23,"description" :"NCF","links" :{"api" :{"leagues" :{"href"
        :"http://api.espn.com/v1/sports/football/college-football"}},"web" :{"leagues"
        :{"href" :"http://espn.go.com/college-football/?ex_cid=espnapi_public"}},"mobile"
        :{"leagues" :{"href" :"http://m.espn.go.com/ncf/?ex_cid=espnapi_public"}}}}},{"description"
        :"Georgia Bulldogs","type" :"team","sportId" :23,"teamId" :61,"team" :{"id"
        :61,"description" :"Georgia Bulldogs","links" :{"api" :{"teams" :{"href" :"http://api.espn.com/v1/sports/football/college-football/teams/61"}},"web"
        :{"teams" :{"href" :"http://espn.go.com/college-football/team/_/id/61/georgia-bulldogs?ex_cid=espnapi_public"}},"mobile"
        :{"teams" :{"href" :"http://m.espn.go.com/ncf/clubhouse?teamId=61&ex_cid=espnapi_public"}}}}}],"published"
        :"2012-03-29T05:03:11Z","video" :[]},{"headline" :"Rays set rotation; B.J.
        Upton to DL","keywords" :["2012 spring training","Opening Day","rotation","DL","disabled
        list","15-day DL","Yanks","Complete Game James"],"audio" :[],"lastModified"
        :"2012-03-29T04:57:41Z","premium" :false,"mobileStory" :"","links" :{"api"
        :{"news" :{"href" :"http://api.espn.com/v1/sports/news/7749939"}},"web" :{"href"
        :"http://espn.go.com/mlb/spring2012/story/_/id/7749939/2012-spring-training-tampa-bay-rays-tab-ja[...]
